@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-extralight.eot');
  src: url('../fonts/montserrat-extralight.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/montserrat-extralight.woff2') format('woff2'),
    url('../fonts/montserrat-extralight.woff') format('woff'),
    url('../fonts/montserratextralight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-light.eot');
  src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-light.woff2') format('woff2'),
    url('../fonts/montserrat-light.woff') format('woff'),
    url('../fonts/montserrat-light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular.eot');
  src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  width: 1366px;
  font-family: montserrat, verdana;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1366px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  min-height: 980px;
  background-image: url(../img/header-img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  padding: 60px 0 0 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 1366px;
  background-color: darkcyan;
  padding: 5px;
  box-sizing: border-box;
}

.nav__menu {
  width: 90%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  cursor: pointer;
  min-height: 20px;
}

.nav__menu-item {
  margin: 0 0 0 80px;
  font-size: 14px;
  color: #dcdcdc;
  text-transform: uppercase;
}

.introduce {
  /* padding: 60px 0 0 0; */
}

.introduce__title {
  margin: 60px 0 0 70px;
}

.introduce__title1 {
  margin: 60px 0 0 70px;
  font-size: 100px;
  mix-blend-mode: overlay;
}

.introduce__text {
  margin: 30px 0 0 70px;
  width: 500px;
  font-size: 20px;
  color: #696969;
  line-height: 1.5;
  text-align: justify;
}

.skills {
  min-height: 660px;
  background: rgb(132, 193, 160);
  background: linear-gradient(
    90deg,
    rgba(132, 193, 160, 1) 0%,
    rgba(47, 205, 142, 1) 22%,
    rgba(43, 153, 98, 0.835171568627451) 70%,
    rgba(158, 179, 166, 1) 89%
  );
  /* padding: 40px 80px; */
  box-sizing: border-box;
}

.skills__title {
  display: flex;
  justify-content: center;
  width: 200px;
  color: #e0ffff;
  font-size: 30px;
}

.skills__items {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  width: 500px;
}

.skills__item-icon {
  width: 250px;
  margin: 0 30px 0 0;
}

.skills__item-icon:hover {
  transform: scale(1.2);
  transition: width, 0.5s;
}

.skills__item-text {
  background: linear-gradient(45deg, #fdf5e6 43%, #00008b 56%, #c71585);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  font-size: 14px;
  line-height: 2;
}

.slider__wrapper {
  position: relative;
  min-height: 880px;
  justify-content: center;
  padding: 60px 0 0 0;
  background: rgb(154, 171, 219);
  background: linear-gradient(
    90deg,
    rgba(154, 171, 219, 1) 0%,
    rgba(223, 232, 233, 1) 13%,
    rgba(170, 252, 197, 1) 70%,
    rgba(230, 242, 241, 1) 92%
  );
}

.slider__title {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: #4682b4;
  margin: 0 0 50px 0;
}

.slider__item {
  display: flex;
  justify-content: center;
}

.slider__fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider__arrow-next {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 50px;
  fill: #4169e1;
  opacity: 0.3;
  transition: 0.6s ease;
  transform: rotate(90deg);
}

.slider__arrow-prev {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 50px;
  fill: #4169e1;
  opacity: 0.3;
  transition: 0.6s ease;
  transform: rotate(-90deg);
}

/* .slider__arrow-prev:hover {
  fill: #191970;
  opacity: 0.8;
  cursor: pointer;
} */

.slider__pagination {
  position: absolute;
  top: 830px;
  left: calc((100% / 2) - 100px);
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.slider__pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #008080;
  font-weight: 800;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active,
slider__pagination-item:hover {
  background: rgb(91, 145, 209);
  background: linear-gradient(
    90deg,
    rgba(91, 145, 209, 1) 0%,
    rgba(116, 217, 190, 1) 22%,
    rgba(209, 233, 217, 1) 70%,
    rgba(111, 198, 189, 1) 89%
  );
}

.works__wrapper {
  position: relative;
  min-height: 900px;
  padding: 50px 0 0;
  box-sizing: border-box;
  background: rgb(166, 169, 171);
  background: linear-gradient(
    90deg,
    rgba(166, 169, 171, 1) 0%,
    rgba(222, 233, 237, 1) 22%,
    rgba(179, 194, 192, 0.9248074229691877) 70%,
    rgba(200, 221, 218, 1) 89%
  );
}

.works__title {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: #4682b4;
}

.works__img img {
  clip-path: circle(20%);
  min-height: 900px;
}

.works__item {
  position: absolute;
  top: 200px;
  left: 50px;
  background-image: url(../img/waxom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 350px;
  height: 187px;
  box-sizing: border-box;
}

.works__item-hover {
  display: none;
  position: absolute;
  top: 200px;
  left: 50px;
  width: 350px;
  height: 187px;
  background-color: #b0c4de;
  opacity: 0.8;
  padding: 20px;
  box-sizing: border-box;
}

.works__item-hoverimg {
  width: 40px;
  fill: blue;
  margin-bottom: 10px;
}

.works__item-hovermark {
  display: flex;
}

.works__items-hovertext {
  text-transform: uppercase;
  margin: 15px 0 0 20px;
}

.works__items-hoverlink {
  text-transform: uppercase;
  margin: 15px 0 0 20px;
  height: 20px;
  border-bottom: 1px dotted #000;
  text-decoration: none;
  cursor: pointer;
}

.works__items-hoverlink:visited {
  color: black;
}

.works__item:hover ~ .works__item-hover {
  display: block;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.works__item1 {
  position: absolute;
  top: 500px;
  left: 50px;
  background-image: url(../img/waxom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 350px;
  height: 187px;
}

.works__item-hover1 {
  display: none;
  position: absolute;
  top: 500px;
  left: 50px;
  width: 350px;
  height: 187px;
  background-color: #b0c4de;
  opacity: 0.8;
  padding: 20px;
  box-sizing: border-box;
}

.works__item1:hover ~ .works__item-hover1 {
  display: block;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.works__item2 {
  position: absolute;
  top: 800px;
  left: 50px;
  background-image: url(../img/waxom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 350px;
  height: 187px;
}

.works__item-hover2 {
  display: none;
  position: absolute;
  top: 800px;
  left: 50px;
  width: 350px;
  height: 187px;
  background-color: #b0c4de;
  opacity: 0.8;
  padding: 20px;
  box-sizing: border-box;
}

.works__item2:hover ~ .works__item-hover2 {
  display: block;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.works__item3 {
  position: absolute;
  top: 200px;
  right: 50px;
  right: 50px;
  background-image: url(../img/waxom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 350px;
  height: 187px;
}

.works__item-hover3 {
  display: none;
  position: absolute;
  top: 200px;
  right: 50px;
  width: 350px;
  height: 187px;
  background-color: #b0c4de;
  opacity: 0.8;
  padding: 20px;
  box-sizing: border-box;
}

.works__item3:hover ~ .works__item-hover3 {
  display: block;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.works__item4 {
  position: absolute;
  top: 500px;
  right: 50px;
  background-image: url(../img/waxom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 350px;
  height: 187px;
}

.works__item-hover4 {
  display: none;
  position: absolute;
  top: 500px;
  right: 50px;
  width: 350px;
  height: 187px;
  background-color: #b0c4de;
  opacity: 0.8;
  padding: 20px;
  box-sizing: border-box;
}

.works__item4:hover ~ .works__item-hover4 {
  display: block;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.works__item5 {
  position: absolute;
  top: 800px;
  right: 50px;
  background-image: url(../img/waxom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 350px;
  height: 187px;
}

.works__item-hover5 {
  display: none;
  position: absolute;
  top: 800px;
  right: 50px;
  width: 350px;
  height: 187px;
  background-color: #b0c4de;
  opacity: 0.8;
  padding: 20px;
  box-sizing: border-box;
}

.works__item5:hover ~ .works__item-hover5 {
  display: block;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.wave {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  height: 120px;
}

.wave__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  transition: all 0.8s ease 0s;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  overflow: hidden;
}

.wave__btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  box-shadow: 0 0 40px rgba(111, 198, 189, 0.9);
}

.wave__btn:hover .wave__btn-waves {
  top: -50px;
}

.wave__btn-text {
  position: relative;
  z-index: 1;
  color: rgb(11, 46, 21);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wave__btn-waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background-color: darkcyan;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
}

.wave__btn-waves:after,
.wave__btn-waves:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave__btn-waves:before {
  background-color: #dce1f0;
  border-radius: 48%;
  animation: waves 5s infinite linear;
}

.wave__btn-waves:after {
  background-color: rgba(210, 226, 225, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.resume {
  background-image: url(../img/post-it-1975179_1280.png);
  min-height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume__wripper {
  padding: 70px;
  box-sizing: border-box;
}

.resume__title {
  text-align: center;
}

.resume__text {
  font-size: 20px;
}

.sertificate {
  background-image: url(../img/abstract-3866486_1280.jpg);
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}

.sertificate__wrapper {
  box-sizing: border-box;
  padding: 40px;
}

.sertificate__title {
  text-align: center;
  position: relative;
  color: #c71585;
}

.sertificate__title:after {
  content: 'Результаты тестирований';
  position: absolute;
  color: #4682b4;
  top: 0;
  left: 0;
  width: 400px;
  height: 60%;
  background-color: #ee82ee;
  margin: 0 0 0 443px;
}

.sertificate__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.sertificate__item {
  box-shadow: 28px 28px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 70px 0 0 0;
}

footer {
  min-height: 400px;
  background-color: darkcyan;
}
